* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  background: #53300d url(image/the-bear.jpg) no-repeat;
  background-position: center;
  background-size: fixed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

main {
  max-width: 700px;
  height: 500px;
  background-color: rgb(60, 36, 7);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 1rem;
}

main .img {
  min-width: 350px;
  background-color: aqua;
  height: 100%;
}

main .img img {
  width: 100%;
}

main .log-in {
  min-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

main .chang-to-logup{
 display: none;
}

.log-in h4 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.log-in input {
  border: none;
  outline: none;
  border-radius: 3px;
  height: 20px;
  width: 200px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 0.7rem;
  color: black;
}

.log-in > button {
  width: 200px;
  height: 25px;
  margin: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.log-in a {
  color: white;
  text-decoration: underline;
}

.log-in a:hover {
  color: rgb(108, 171, 255);
  text-decoration: none;
}

.log-up {
  min-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.log-up h4 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.log-up input {
  border: none;
  outline: none;
  border-radius: 3px;
  height: 20px;
  width: 200px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 0.7rem;
  color: black;
}

.log-up > button {
  width: 200px;
  height: 25px;
  margin: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.log-up a {
  color: white;
  text-decoration: underline;
}

.log-up a:hover {
  color: rgb(108, 171, 255);
  text-decoration: none;
}

.log-in .btn {
  border: none;
  background: transparent;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
}

.log-in .btn:hover {
  color: rgb(108, 171, 255);
  text-decoration: none;
}
